* {
    font-family: 'Boogaloo', cursive;
}

#question-container {
    font-size:22px;
}

.container-middle{
    display: flex;
    justify-content: center;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    color: white; 
    font-size:22px;         
  }